.header {
  display: flex;
  align-items: center;
  background: -moz-linear-gradient(-45deg, #CCBDF6 0%, #1595C5 100%);
  background: -webkit-linear-gradient(-45deg, #CCBDF6 0%, #1595C5 100%);
  background: linear-gradient(135deg, #CCBDF6 0%, #1595C5 100%);
  color: #fff;
  height: 60px;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 600;
}
